/* * {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
  }
  
  .container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
  }
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 2rem 0 2rem 0;
  }
  
  form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  } */
  *{
    padding: 0;
    margin: 0;
  }
  body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #DCF2F1;
  }
  h1{
    color: #0F1035;
  }
.container{
    height: 500px;
    width: 400px;
    border:2px solid #7FC7D9;
    margin-top: 40px;
    padding-top: 20px;
    border-radius: 7%;
    background-color: #7FC7D9;
    
    
}
.from{
    font-size: large;
    font-weight: bold;
    display: inline-block ;
    margin-top: 15%;
    margin-right: 5%;
    color: #0F1035;
}

.to{
    font-size: large;
    font-weight: bold;
    display: inline-block;
    margin-top: 15%; 
    margin-left: 5%;
    color: #0F1035;
}
#input{
    width: 90%;
    height: 5%;
    margin: 2% 5% 2% 5%;
    margin-top: 5%;
    padding-left: 1%;
    border-radius: 5px;
    border: 2px solid  #7FC7D9 ;
    background-color: #365486;
    color: white;
    text-align: center;
}


button{
    /* display: inline; */
    width: 50%;
    height: 7%;
    margin-top: 80px;
    border: none;
    border: 2px solid #0F1035;
    border-radius: 10px;
    font-size: larger;
    background-color: #0F1035;
    color: white;
    cursor: pointer;
    
}
.result{
    margin-top: 10%;
    font-size: larger;
    font-weight: bold;
    color: #0F1035;
}
select{
    
    color: black;
    height:30px;
    width: 50px;
    border-radius: 5px;
    background-color:white;
}